@import "_vars";
@import "_mixins";

body {
    font-family: $dfont;
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: $bg-color-stack;
    color: $primary-color;
    font-size: 20px;
}

main {
    @include flex();
    padding: 60px;
    grid-column: 1/3;
    justify-content: center;

    h1 {
        border-bottom: 3px solid black;
        border-radius: 3px;
    }

    h3 {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0 10px 0;
    }

    .content {
        @include flex();
        margin: 70px;
        justify-content: space-between;

        h3 {
            width: 100%;
        }

        p {
            width: 45%;
        }

        iframe {
            border-radius: 4px;
            width: 50%;
        }
    }
}

.follow-container {
    grid-column: 1/3;
    height: 30em;

    background-color: $primary-color;
    color: $secondary-color;

    @include flex();
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        @include flex();
        justify-content: center;
        align-items: center;
        flex-direction: column;

        * {
            border-radius: 2px;
        }

        input {
            background-color: $primary-color;
            color: $secondary-color;
            border: none;
            border-bottom: solid white 1px;

            font-size: 40px;
            color: white;

            width: 100%;
            height: 50px;
            margin: 0 20px 0 20px;
            text-align: center;
        }

        button {
 
            margin: 50px;
            width: 100px;
            height: 100px;
            background-color: rgba(238, 238, 238, 0.966);
            color: $primary-color;
            font-size: 40px;
            border: none;
            border-radius: 10px;

            svg{
                height: 70px;
            }

            &:hover {
                border: solid white 1px;
                color: $selected;
                background-color: $primary-color;
                border-color: $selected;
                fill: white;
            }
        }
    }

    .social-container {
        display: inline-flex;

        svg {
            margin: 20px;
            fill: white;
            height: 50px;
        }

        .facebook {
            @include svg-color(#1877f2);
        }

        .instagram {
            @include svg-color(#e4405f);
        }

        .ymusic {
            @include svg-color(#ff0000);
        }

        .spotify {
            @include svg-color(#1ed760);
        }

        .deezer {
            @include svg-color(#feaa2d);
        }
    }
}
