/*pre-made flex*/
@mixin flex() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


@mixin parallax-effect($bg-image,$image-height) {
  /* The image used */
  background-image: url($bg-image);

  /* Set a specific height */
  min-height: $image-height; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin svg-color($color){
  svg {
    &:hover {
        fill: $color;
    }
}
}

@mixin breakpoint($size){
  @media screen {
    
  }
}


