@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

$dfont: 'Secular One', sans-serif;


$primary-color: #33363a;
$secondary-color: #c7c7c7;
$danger-color: #da4c28;
$warning-color: #eee239;
$success-color: #2aceb8;
$selected: #eef9ff;

$bg-color-stack: rgb(250, 250, 250);


/*breakpoints*/

$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;
$large-desktop: 1800px;

