@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
/*breakpoints*/
/*pre-made flex*/
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
body {
  font-family: "Secular One", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  background-color: #fafafa;
  color: #33363a;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px;
  grid-column: 1/3;
  justify-content: center;
}

main h1 {
  border-bottom: 3px solid black;
  border-radius: 3px;
}

main h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0 10px 0;
}

main .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 70px;
  justify-content: space-between;
}

main .content h3 {
  width: 100%;
}

main .content p {
  width: 45%;
}

main .content iframe {
  border-radius: 4px;
  width: 50%;
}

.follow-container {
  grid-column: 1/3;
  height: 30em;
  background-color: #33363a;
  color: #c7c7c7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.follow-container form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.follow-container form * {
  border-radius: 2px;
}

.follow-container form input {
  background-color: #33363a;
  color: #c7c7c7;
  border: none;
  border-bottom: solid white 1px;
  font-size: 40px;
  color: white;
  width: 100%;
  height: 50px;
  margin: 0 20px 0 20px;
  text-align: center;
}

.follow-container form button {
  margin: 50px;
  width: 100px;
  height: 100px;
  background-color: rgba(238, 238, 238, 0.966);
  color: #33363a;
  font-size: 40px;
  border: none;
  border-radius: 10px;
}

.follow-container form button svg {
  height: 70px;
}

.follow-container form button:hover {
  border: solid white 1px;
  color: #eef9ff;
  background-color: #33363a;
  border-color: #eef9ff;
  fill: white;
}

.follow-container .social-container {
  display: inline-flex;
}

.follow-container .social-container svg {
  margin: 20px;
  fill: white;
  height: 50px;
}

.follow-container .social-container .facebook svg:hover {
  fill: #1877f2;
}

.follow-container .social-container .instagram svg:hover {
  fill: #e4405f;
}

.follow-container .social-container .ymusic svg:hover {
  fill: #ff0000;
}

.follow-container .social-container .spotify svg:hover {
  fill: #1ed760;
}

.follow-container .social-container .deezer svg:hover {
  fill: #feaa2d;
}

/*page's body*/
/*pre-made flex*/
/*breakpoints*/
header {
  /* The image used */
  background-image: url("../img/animated-banner.gif");
  /* Set a specific height */
  min-height: 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/3;
}

header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 20px;
}

header nav a {
  color: #c7c7c7;
  text-decoration: none;
}

header nav a:hover {
  color: #eef9ff;
}

header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

header nav .menu {
  justify-content: space-around;
  margin-top: 30px;
  width: 50%;
}

header nav .home {
  height: 3em;
}

header .banner {
  width: 100%;
  padding: 0;
}

header .banner img {
  width: 100%;
  height: 700px;
}

/*head section*/
/*pre-made flex*/
/*all mixins made*/
/*breakpoints*/
/*all variables made*/
